@charset "UTF-8";
/*Medidas*/
/*PANTALLAS*/
/*NUESTRA HISTORIA*/
/*mixing*/
.par1 {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 5%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60%;
  max-width: 450px;
  border-radius: 5px;
  text-align: center;
  animation-duration: 3s;
  animation-name: izquierda;
}

img.propietario1 {
  max-width: 30%;
  max-height: 5%;
  margin-left: 4em;
  margin-bottom: 2em;
  display: block;
  margin: auto;
  animation-duration: 3s;
  animation-name: izquierda;
}

.par2 {
  font-family: "PT Sans", sans-serif;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  animation-duration: 3s;
  animation-name: izquierda;
}

.par3 {
  font-family: "PT Sans", sans-serif;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  animation-duration: 3s;
  animation-name: izquierda;
}

img.nuevaimg {
  max-width: 30%;
  max-height: 5%;
  margin-left: 4em;
  margin-bottom: 2em;
  display: block;
  margin: auto;
  animation-duration: 3s;
  animation-name: izquierda;
}

@keyframes izquierda {
  0% {
    opacity: 0;
  }
}
/*EXTEND*/
.boton-compras, .boton-deshacer {
  background-color: #4CAF50;
  border: 5cm;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-block: 5px;
  align-self: auto;
}

/*BARRA DE NAVEGACIÓN*/
header {
  font-family: "PT Sans", sans-serif;
  background-color: black;
}
header navbarNav {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: right;
}
header navbarNav nav-link {
  color: rgb(255, 77, 0);
  margin: 0;
  padding: 0;
}
header navbarNav nav-link nav-item .nav-link.active {
  color: rgb(255, 77, 0);
  margin: 0;
  padding: 0;
}

/*-------*/
body {
  background-color: silver;
}

img.logo {
  max-width: 50%;
  max-height: 5%;
}

/*INDEX*/
.conth1 {
  font-family: "PT Sans", sans-serif;
  padding-top: 5%;
  text-align: center;
  color: rgb(2, 128, 0);
  height: 100px;
  line-height: 100px;
  font-size: 50%;
  animation-duration: 3s;
  animation-name: cent;
}

@keyframes cent {
  0% {
    opacity: 0.15;
  }
}
.aqui {
  font-family: "PT Sans", sans-serif;
  margin-top: 8%;
  text-align: center;
  color: rgb(8, 0, 255);
  font-size: 17px;
}

/*---------*/
/*CARRUSEL*/
.carousel-inner {
  background-color: black;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  width: 640px;
  transition: opacity 0.5s;
}

/*---------*/
img.producto {
  max-width: 100%;
  max-height: 100%;
}

.cont {
  font-size: 1.5em;
  margin: 1em;
}

/*PRODUCTOS- SHOP*/
.padre-cards {
  font-family: "PT Sans", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  padding: 5em;
}

.col {
  max-width: 100%;
  max-height: 100%;
}

/*----------*/
/*DEVOLUCIONES-(galeria)*/
.dev11 {
  font-family: "PT Sans", sans-serif;
  padding-top: 5%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60%;
  max-width: 450px;
  border-radius: 5px;
  text-align: center;
}

.dev1 {
  font-family: "PT Sans", sans-serif;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60%;
  max-width: 450px;
  border-radius: 5px;
  text-align: center;
}

.pregunta {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-weight: bold;
}

/*-----------*/
/*CONTACTANOS*/
.contactos {
  font-family: "PT Sans", sans-serif;
  background-color: #fff;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 8em;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.formContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 2.5em;
}

.formGrupo {
  position: relative;
  --color: #5757577e;
  margin-right: 10%;
  margin-left: 10%;
}

.formInput {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: auto;
  border-bottom: 1px solid var(--color);
  font-family: "PT Sans", sans-serif;
}

.formSubmit {
  background-color: #0000ff;
}

/*-------*/
/*FOOTER pie de página*/
footer {
  font-family: "PT Sans", sans-serif;
  margin-top: auto;
  background-color: gray;
  margin: 6px;
}

/*# sourceMappingURL=styles.css.map */
