 /*DEVOLUCIONES-(galeria)*/

 .dev11 {
   font-family: 'PT Sans', sans-serif;
   padding-top: 5%;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
   width: 60%;
   max-width: 450px;
   border-radius: 5px;
   text-align: center;
   animation-duration: 6s;
   animation-name: anim;
 }

 .dev1 {
   font-family: 'PT Sans', sans-serif;
   margin: auto;
   margin-top: 2em;
   margin-bottom: 2em;
   width: 60%;
   max-width: 450px;
   border-radius: 5px;
   text-align: center;
   animation-duration: 6s;
   animation-name: anim;
 }

 .pregunta {
   font-family: 'PT Sans', sans-serif;
   font-weight: normal;
   font-weight: bold;
   animation-duration: 6s;
   animation-name: anim;
  }

@keyframes anim {
 0% {
   opacity: 2;
 }
}

 /*-----------*/