 /*DEVOLUCIONES-(galeria)*/
  
 .dev11 {
    padding-top: 5%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;
  }
  
  .dev1 {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;
  }
  
  .pregunta {
    font-weight: normal;
    font-weight: bold;
  }
  /*-----------*/
  