/*BARRA DE NAVEGACIÓN*/

.navbarNav {
    display: flex;
    flex-direction:row;
    list-style: none;
    text-align: right;
  }
  
  .nav-link {
    color:black;
  
  }
  
  .nav-item .nav-link.active {
    color: black;
  }
  /*-------*/
  
  body {
    background-color: silver;
  }
  
  
  img.logo {
    max-width: 50%;
    max-height: 5%;
  }
  
  /*INDEX*/
  
  .conth1 {
    padding-top: 5%;
    text-align: center;
    color:darkblue;
    height: 100px;
  line-height: 100px;
    font-size: 50%;
  
  }
  .aqui {
    margin-top: 5%;
    text-align: center;
  
  }
  /*---------*/
  
  /*CARRUSEL*/
  
  .carousel-inner {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    width: 640px;
    transition: opacity .5s; 
  }
  /*---------*/
  
  
  img.producto {
    max-width: 100%;
    max-height: 100%;
  }
  .cont {
    font-size: 1.5em;
    margin: 1em;
  }
  
  /*NUESTRA HISTORIA*/
  
  .par1 {
    padding-top: 5%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;
  }
  
  img.propietario1 {
    max-width:30%;
    max-height: 5%;
    margin-left: 4em;
    margin-bottom: 2em;
    display:block;
    margin:auto;
  
  }
  
  .par2 {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
  }
  
  .par3 {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
  }
  
  img.nuevaimg {
    max-width:30%;
    max-height: 5%;
    margin-left: 4em;
    margin-bottom: 2em;
    display:block;
    margin:auto;
  }
  /*------------*/
  
  /*PRODUCTOS- SHOP*/
  
  .padre-cards {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    padding: 1em;
  }
  
  .col {
    max-width:100%;
    max-height: 100%;
  }
  /*----------*/
  
  /*DEVOLUCIONES-(galeria)*/
  
  .dev11 {
    padding-top: 5%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;
  }
  
  .dev1 {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    text-align: center;
  }
  
  .pregunta {
    font-weight: normal;
    font-weight: bold;
  }
  /*-----------*/
  
  /*CONTACTANOS*/
  
  .contactos {
    background-color: #fff;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 8em;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
  }
  
  .formContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2.5em;
  }
  
  .formGrupo {
    position: relative;
    --color: #5757577e;
  }
  
  .formInput {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
  }
  /*-------*/
  
  /*FOOTER pie de página*/
  
  footer {
    margin-top: auto;
    background-color: gray;
    margin: 6px;
  
  }